DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=fotosnap
PORT=3001
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET=
UI_URL=http://localhost:3000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=ß
AWS_S3_REGION=
STORAGE_TYPE=local